* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.submitGridSizeBar {
  display: flex;
  flex-direction: column;
}

.userInput,
[placeholder] {
  font-size: 30px;
  flex: 1;
  text-align: center;
}

.submitButton {
  font-size: 30px;
}

.bigSquare {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 760px;
  border: 5px solid rgb(88, 79, 79);
  box-sizing: content-box;
}

.smallSquare {
  box-sizing: border-box;
  border: 1px solid black;
}

.smallSquareColored {
  background-color: black;
  border: 1px solid black;
}
